<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>

<body style="background: linear-gradient(to right, #667eea, #764ba2); font-family: Arial; padding:20px; color:white;">

<h2>AI Career Guidance</h2>

<!-- INPUT FORM -->
<div style="background:white; padding:15px; color:black; width:300px;">
<form method="POST">
    <input name="skills" placeholder="Enter skills"><br><br>
    <input name="interests" placeholder="Enter interests"><br><br>
    <button type="submit">Get Suggestions</button>
</form>
</div>

<br>

<h2>Career Suggestions</h2>

{% for job in results %}
<div style="background:white; color:black; padding:10px; margin-top:10px;">
    <h3>{{ job.role }}</h3>
    <p>Match: {{ job.match }}%</p>
    <p><b>Required:</b> {{ job.required }}</p>
    <p><b>Missing:</b> {{ job.missing }}</p>
    <p><b>Roadmap:</b> {{ job.roadmap }}</p>
</div>
{% endfor %}

<br>

<a href="/download"><button>Download Report</button></a>
<a href="/logout"><button>Logout</button></a>

</body>
</html>